.calculator {
  border: 3px solid black;
  border-radius: 30px;
  width: 100vw;
  max-width: 320px;
  padding: 1rem;
  margin: 2rem auto;
  background-color: #eee;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.cal-container {
  border-radius: 30px;
  width: fit-content;
  padding: 0.5rem;
  margin: 1rem auto;
}

.cal-screen {
  border: 1px solid black;
  text-align: right;
  background-color: aqua;
  padding: 0.5rem 0.25rem;
  margin: 0.5rem 0.25rem;
  border-radius: 10px;
}

.btncal {
  width: 2.25rem;
  height: 2.25rem;
  margin: 0.25rem 0.25rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-green {
  background-color: greenyellow;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-blue {
  background-color: aqua;
}

.btn-active-hover:hover {
  background-color: yellow;
}

.btn-yellow {
  background-color: yellow;
}
